.post-preview > a > .post-title2 {
  font-size: 1.5rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  text-align: center;
  font-weight: normal;
}
.post-preview > a > .post-subtitle2 {
  font-weight: normal;
  margin-bottom: 0.625rem;
  text-align: center;
  font-size: 1.25rem;
}
.overviewbox {
  background-color: #f9d3f0;
  box-shadow: 10px 10px rgb(180, 167, 184);
  position: relative;
  padding-left: .625rem;
  padding-right: .625rem;
  padding-top: .050rem;
  padding-bottom: .250rem;
}
.resumelistheading {font-weight: bold;
    font-style: normal;}
.bold {font-weight: bold;} 
.justify {text-align: justify;}
    
.post-preview > a {
  color: #22042b;
}
header.masthead .site-heading {
  color: rgb(238, 229, 242);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  color: #000;
  text-shadow: none;
  font-weight: bolder;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-nav > li.nav-item > a.nav-link {
  color: black;
}
.post-preview > a > .post-title2 {
  font-size: 1.5rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  text-align: center;
  font-weight: normal;
}
.post-preview > a > .post-subtitle2 {
  font-weight: normal;
  margin-bottom: 0.625rem;
  text-align: center;
  font-size: 1.25rem;
}
.common {
  position: absolute;
}
.left{
  top: 400px;
  left: 4px;
  z-index: 1;
  padding-left: 10px;           
}
.anchortext{
  color: black;
  font-weight: 800;
  font-size: .85rem;
  font-weight: 800;
  padding: 2rem;
  text-transform: uppercase;
  position: absolute;
  top: 1500;
  left: 0;
  right: 0;
  z-index: 1030;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.resumelistheading {
  font-weight: bold;
  font-style: normal;
}

.ulfont {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.normalfont {
 font-weight: normal;
 text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.underline {
 text-decoration: underline;
}
.aboutmebox {
  background-color: white;
  box-shadow: 10px 10px;
  position: relative;
  padding-left: .625rem;
  padding-right: .625rem;
  padding-top: .050rem;
  padding-bottom: .250rem;
}
.subheader {
  float: right;
}
.right {
  top: 149px;
  right: 5px;
  width: 100px;
  bottom: 39px;
  border-left: solid 1px #555555;
  padding-left: 5px;
}
.header {
  top: 5px;
  left: 5px;
  right: 5px;
  height: 135px;
  z-index: 2;
  border-bottom: solid 1px #555555;
}
.resume {
  font-size: 1.5rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  text-align: center;
  font-weight: normal;
}
div.gallery {
  margin: 5px;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  height: auto;
}

div.desc {
  text-align: center;
  font-size: 15px;
}
.clear {
  clear: left;
}
.top {
  color: cornflowerblue;
  padding-top: 10px;
}
.ambgcolor {
  background-color: aliceblue;
}
.hmbgcolor {
  background-color: rgb(246, 236, 252);
}
.ctrurl {
  text-loc
}
.centerfont{
  text-align: center;
}
.resumepadding {
  padding-left: 250px;
}
.picpadding {
  padding-left: 650px;
}
.time {
  font-size: 15px;
  color: #3d154a;
}
.overviewbox2 {
  background-color: #d7f2fa;
  box-shadow: 10px 10px rgb(132, 180, 222);
  position: relative;
  padding-left: .625rem;
  padding-right: .625rem;
  padding-top: .050rem;
  padding-bottom: .250rem;
}